header {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    background-color: white;
    border-bottom: 1px solid rgb(218, 218, 218);
    flex-direction: column;
    gap: 12px;
    .date {
        font-weight: 400;
    }
}